<template>
    <div>
        Create
        <CreateEditForm v-if="mealTypes" :kitchen-view="input2" :my-meal-types="mealTypes" @input="getKitchenViewData" />
    </div>
</template>

<script lang="ts">
import { reactive } from "vue";
import { useMutation, useQuery, useResult } from "@vue/apollo-composable";
import router from "@/router";
import { GET_MEAL_TYPES } from "@/graphql/MealType";
import { ADD_KITCHEN_VIEW } from "@/graphql/KitchenViews";
import { IKitchenViewCreate } from "@/domain/IKitchenView";
import CreateEditForm from "@/views/kitchen-views/CreateEditForm.vue";

export default {
    name: "KitchenViewCreate",
    components: {
        CreateEditForm
    },

    setup() {
        const input2: IKitchenViewCreate = reactive({
            kitchenViewName: "",
            kitchenViewDisplayName: "",
            startingFrom: "",
            validUntil: undefined,
            mealTypeId: ""
        });

        const getKitchenViewData = (input: any) => {
            if (input.kitchenViewName.trim() !== ""
                && input.kitchenViewDisplayName.trim() !== ""
                && input.startingFrom.trim() !== ""
                && input.mealTypeId.trim() !== ""
            ) {
                const inputWrapper = { input };
                addKitchenView(inputWrapper);
            }
        }



        const { result, loading, error } = useQuery(GET_MEAL_TYPES);
        const { mutate: addKitchenView, onDone, error: addKitchenViewError } =
            useMutation(ADD_KITCHEN_VIEW);

        const mealTypes = useResult(result);

        onDone(() => {
            router.push("/kitchen-views");
        });

        /*function createKitchenView(): void {
            if (input.kitchenViewName.trim() !== ""
                && input.kitchenViewDisplayName.trim() !== ""
                && input.startingFrom.trim() !== ""
                && input.mealTypeId.trim() !== ""
            ) {
                addKitchenView(inputWrapper);
            }
        }
         */

        return { getKitchenViewData, mealTypes, input2 };
    }
};
</script>

<style scoped>

</style>
