<template>
    <Alert v-if="alertData.message.length > 0" v-bind:alertData="alertData" />

    <div class="form-group">
        <label class="control-label" for="kitchenViewName">KitchenView Name</label>
        <input
            class="form-control"
            type="text"
            id="KitchenViewName"
            maxlength="64"
            v-model="input.kitchenViewName"
            name="kitchenViewName"
        >
    </div>
    <div class="form-group">
        <label class="control-label" for="kitchenViewDisplayName">KitchenViewDisplay Name</label>
        <input
            class="form-control"
            type="text"
            id="KitchenViewDisplayName"
            maxlength="64"
            v-model="input.kitchenViewDisplayName"
            name="kitchenViewDisplayName"
        >
    </div>
    <div class="form-group">
        <label class="control-label" for="startingFrom">Starting from</label>
        <input
            class="form-control"
            type="string"
            id="StartingFrom"
            v-model="input.startingFrom"
            name="startingFrom"
        >
    </div>
    <div class="form-group">
        <label class="control-label" for="validUntil">Valid until</label>
        <input
            class="form-control"
            type="text"
            id="ValidUntil"
            v-model="input.validUntil"
            name="validUntil"
        >
    </div>
    <div class="form-group">
        <label class="control-label" for="startingFrom">Meal type</label>
        <br />
        <select v-model="input.mealTypeId">
            <option
                v-for="mealType in myMealTypes"
                :key="mealType.id"
                :value="mealType.id"
            >{{ mealType.mealTypeName }}
            </option>
        </select>
    </div>

    <div class="row">
        <div class="col-md-4">
            <button @click="saveKitchenView" class="btn btn-success">Save</button>
        </div>
    </div>
</template>

<script lang="ts">
import { IKitchenView, IKitchenViewCreate } from "../../domain/IKitchenView";
import { PropType, reactive, toRefs } from "vue";
import Alert from "@/components/Alert.vue";
import { IAlertData } from "@/types/IAlertData";
import { AlertType } from "@/types/AlertType";

export default {
    name: "CreateEditForm",
    components: { Alert },
    props: {
        kitchenView: {
            type: Object as PropType<IKitchenView | IKitchenViewCreate>,
            required: true
        },
        myMealTypes: {
            type: Object,
            required: true
        }
    },
    emits: ['input'],

    setup(props: any, { emit }: any) {
        const input: IKitchenView | IKitchenViewCreate = reactive({
            kitchenViewName: props.kitchenView.kitchenViewName,
            kitchenViewDisplayName: props.kitchenView.kitchenViewDisplayName,
            startingFrom: props.kitchenView.startingFrom,
            validUntil: props.kitchenView?.validUntil,
            mealTypeId: props.kitchenView.mealTypeId
        });

        const alertData: IAlertData = reactive({ message: "", type: AlertType.Info });

        const saveKitchenView = () => {
            if (input.kitchenViewName.trim() !== ""
                && input.startingFrom.trim() !== ""
                && input.mealTypeId.trim() !== "") {
                emit("input", input);
            } else {
                alertData.message = "Name, StartingFrom and Meal Type are mandatory!";
                alertData.type = AlertType.Warning;
            }
        }

        return { input, saveKitchenView, alertData };
    }
};
</script>

<style scoped>

</style>
