<template>
    <div>
        <h4>KitchenView Details</h4>
        <div v-if="loading">Loading...</div>
        <div v-else-if="error">Error: {{ error.message }}</div>
        <div v-else-if="kitchenView">
            <dl class="row">
                <td class="col-sm-2">Name</td>
                <dd class="col-sm-10">{{ kitchenView.kitchenViewName }}</dd>
                <td class="col-sm-2">Display name</td>
                <dd class="col-sm-10">{{ kitchenView.kitchenViewDisplayName }}</dd>
                <td class="col-sm-2">Starting from</td>
                <dd class="col-sm-10">{{ formatDate(kitchenView.startingFrom) }}</dd>
                <td class="col-sm-2">Valid until</td>
                <dd class="col-sm-10">{{ formatDate(kitchenView.validUntil) }}</dd>
                <td class="col-sm-2">Meal type</td>
                <dd class="col-sm-10">{{ kitchenView.mealType?.mealTypeName }}</dd>
            </dl>
        </div>
    </div>
</template>

<script lang="ts">
import { toRefs } from "vue";
import { useQuery, useResult } from "@vue/apollo-composable";
import { GET_KITCHEN_VIEW_BY_ID } from "@/graphql/KitchenViews";
import formatDate from "@/helpers/helpers";

export default {
    name: "KitchenViewDetails",
    props: {
        id: {
            type: String,
            required: true
        }
    },

    setup(props: any) {
        const { result, loading, error, onResult } = useQuery(GET_KITCHEN_VIEW_BY_ID, { id: props.id });

        const kitchenView = useResult(result);

        return { loading, error, kitchenView, formatDate };
    }
};
</script>

<style scoped>

</style>
