<template>
    <div>
        Edit
        <CreateEditForm v-if="myMealTypes" :kitchen-view="input2" :my-meal-types="myMealTypes"
                        @input="getKitchenViewData" />
        <div v-if="error" style="color: red;">
            {{ error }}
        </div>
        <div v-if="updKitchenViewErr" style="color: red">
            {{ updKitchenViewErr }}
        </div>
    </div>
</template>

<script lang="ts">
import { reactive, toRefs } from "vue";
import { useMutation, useQuery, useResult } from "@vue/apollo-composable";
import { GET_KITCHEN_VIEW_BY_ID_EDIT, UPDATE_KITCHEN_VIEW } from "@/graphql/KitchenViews";
import formatDate from "@/helpers/helpers";

import router from "@/router";
import { IKitchenView } from "@/domain/IKitchenView";
import CreateEditForm from "@/views/kitchen-views/CreateEditForm.vue";

export default {
    name: "KitchenViewEdit",
    components: { CreateEditForm },
    props: {
        id: {
            type: String,
            required: true
        }
    },

    setup(props: any) {
        const { id } = toRefs(props);
        const input2: IKitchenView = reactive({
            id: "",
            kitchenViewName: "",
            kitchenViewDisplayName: "",
            startingFrom: "",
            validUntil: undefined,
            mealTypeId: ""
        });

        const { result, loading, error, onResult } = useQuery(GET_KITCHEN_VIEW_BY_ID_EDIT, { id: id });
        const { mutate: updKitchenView, onDone, error: updKitchenViewErr } = useMutation(UPDATE_KITCHEN_VIEW);

        const myKitchenView = useResult(result, null, data => data.kitchenViewById);
        const myMealTypes = useResult(result, null, data => data.mealTypes);


        onResult(queryResults => {
            input2.id = id;
            input2.kitchenViewName = queryResults.data.kitchenViewById.kitchenViewName;
            input2.kitchenViewDisplayName =
                queryResults.data.kitchenViewById.kitchenViewDisplayName;
            input2.startingFrom = formatDate(queryResults.data.kitchenViewById.startingFrom);
            input2.validUntil = formatDate(queryResults.data.kitchenViewById.validUntil);
            input2.mealTypeId = queryResults.data.kitchenViewById.mealTypeId;
        });

        onDone(() => {
            router.push("/kitchen-views");
        });

        const getKitchenViewData = (input: IKitchenView) => {
            if (input.validUntil == null || input.validUntil.trim() == "") {
                input.validUntil = undefined;
            }

            input.id = id;
            const inputWrapper = { input };
            updKitchenView(inputWrapper);
        };

        return {
            myMealTypes, loading, error, getKitchenViewData,
            updKitchenViewErr, input2
        };
    }
};
</script>

<style scoped>

</style>
