<template>
    <div>
        <h1>KitchenViews</h1>
        <p>
            <router-link to="/kitchen-views/create" class="nav-link">Create New</router-link>
        </p>
        <table class="table">
            <thead>
            <tr>
                <th>KitchenView name</th>
                <th>Display name</th>
                <th>Starting from</th>
                <th>Valid until</th>
                <th>Meal type</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr v-if="loading">
                <td>Loading...</td>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <td></td>
            </tr>
            <tr v-else-if="error">
                <td>Error: {{ error.message }}</td>
                <td></td>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <template v-else-if="result && result.kitchenViews">
                <tr v-for="kitchenView in result.kitchenViews" :key="kitchenView.id">
                    <td>{{ kitchenView?.kitchenViewName }}</td>
                    <td>{{ kitchenView?.kitchenViewDisplayName }}</td>
                    <td>{{ formatDate(kitchenView?.startingFrom) }}</td>
                    <td>{{ formatDate(kitchenView?.validUntil) }}</td>
                    <td>{{ kitchenView.mealType?.mealTypeName}}</td>
                    <td>
                        <router-link :to="{name: 'KitchenViewEdit',
                        params: { id: kitchenView.id}}">Edit</router-link>
                        |
                        <router-link :to="{name: 'KitchenViewDetails',
                        params: {id: kitchenView.id}}">Details</router-link>
                        |
                        <span @click="deleteDatKitchenView(kitchenView.id)">Delete</span>
                    </td>
                </tr>
            </template>
            </tbody>
        </table>
    </div>
</template>

<script lang="ts">
import { useMutation, useQuery } from "@vue/apollo-composable";
import { DELETE_KITCHEN_VIEW, GET_KITCHEN_VIEWS } from "@/graphql/KitchenViews";
import formatDate from '@/helpers/helpers';
import { onMounted } from "vue";

export default {
    name: "KitchenViewsIndex",

    setup() {
        const {result, loading, error, refetch } = useQuery(
            GET_KITCHEN_VIEWS);

        const kitchenViews: any = [];

        const { mutate: deleteKitchenView, onDone,
            error: deleteKitchenViewError} = useMutation(DELETE_KITCHEN_VIEW);

        function deleteDatKitchenView(id: string) {
            deleteKitchenView({ id });
        }

        onDone(() => {
            refetch();
        });

        onMounted(() => {
            // reloads the data when you navigate here via router.push
            refetch();
        });

        return {
            loading,
            error,
            result,
            deleteDatKitchenView,
            deleteKitchenViewError,
            formatDate
        };
    }
};
</script>

<style scoped>

</style>
