<template>
    <div>
        <div
            v-if="alertData !== null"
            v-show="alertData"
            :class="'alert alert-' + alertData.type + ' alert-dismissible fade show'"
            role="alert"
        >
            {{ alertData.message }}
            <button
                v-show="alertData.dismissable"
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"
            >
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</template>

<script lang="ts">
import { IAlertData } from "@/types/IAlertData";
import { PropType } from "vue";

export default {
    name: "Alert",
    props: {
        alertData: {
            type: Object as PropType<IAlertData>,
            required: false
        }
    },
};
</script>

<style scoped>

</style>
