<template>
    <div>
        Create
        <form>
            <label class="form-label">Name:&nbsp;</label>
            <input type="text" v-model="input.kitchenName" />&nbsp;
            <button @click="createKitchen" class="btn btn-success">Create</button>
        </form>
        <div v-if="addKitchenError" style="color: red">
            {{ addKitchenError }}
        </div>
    </div>
</template>

<script lang="ts">
import { reactive } from "vue";
import { useMutation } from "@vue/apollo-composable";
import { ADD_KITCHEN } from "@/graphql/Kitchens";
import router from "@/router";
import { IKitchenCreate } from "@/domain/IKitchen";

export default {
    name: "KitchenCreate",

    setup(): unknown {
        const input: IKitchenCreate = reactive({
            kitchenName: ""
        });
        const inputWrapper = { input };

        const { mutate: addKitchen, onDone, error: addKitchenError } = useMutation(ADD_KITCHEN);

        onDone((): void => {
            router.push("/kitchens");
        });

        function createKitchen(): void {
            if (input.kitchenName.trim() !== "") {
                addKitchen(inputWrapper);
            }
        }

        return { createKitchen, addKitchenError, input };
    }
};
</script>

<style scoped>

</style>
