<template>
    <div>
        <h4>Kitchen Details</h4>
        <div v-if="loading">Loading...</div>
        <div v-else-if="error">Error: {{ error.message }}</div>
        <div v-else-if="kitchen">
            <dl class="row">
                <dt>Kitchen Name</dt>
                <dd>{{ kitchen.kitchenName }}</dd>
            </dl>

        </div>
        <router-link to="/kitchens" class="nav-link">Back to List</router-link>
    </div>
</template>

<script lang="ts">
import { GET_KITCHEN_BY_ID } from "@/graphql/Kitchens";
import { toRefs } from "vue";
import { useQuery, useResult } from "@vue/apollo-composable";

export default {
    name: "KitchenDetails",
    props: {
        id: {
            type: String,
            required: true
        }
    },

    setup(props: any) {
        const { result, loading, error } = useQuery(GET_KITCHEN_BY_ID, { id: props.id });

        const kitchen = useResult(result);

        return {
            loading,
            error,
            kitchen
        };
    }
};
</script>

<style scoped>

</style>
