<template>
    <div>
        Edit

        <Alert v-if="alertData.message.length > 0" v-bind:alertData="alertData" />

        <form>
            <input type="hidden" value="{{ input.id }}" />
            <label class="form-label">Name </label>
            <input type="text" v-model="input.kitchenName">
            <button @click="updateMyKitchen" class="btn btn-success">Save</button>
        </form>

        <div v-if="error" style="color: red">
            {{ error }}
        </div>
        <div v-if="updateKitchenError" style="color: red">
            {{ updateKitchenError }}
        </div>
    </div>
</template>

<script lang="ts">
import { GET_KITCHEN_BY_ID, UPDATE_KITCHEN } from "@/graphql/Kitchens";
import { reactive, toRefs } from "vue";
import { useMutation, useQuery, useResult } from "@vue/apollo-composable";
import router from "@/router";
import { IKitchen } from "@/domain/IKitchen";
import { IAlertData } from "@/types/IAlertData";
import { AlertType } from "@/types/AlertType";
import Alert from "@/components/Alert.vue";

export default {
    name: "KitchenEdit",
    components: { Alert },
    props: {
        id: {
            type: String,
            required: true
        }
    },

    // composition based API
    setup(props: any) {
        const { id } = toRefs(props);
        const input: IKitchen = reactive({
            id: "",
            kitchenName: ""
        });
        const inputWrapper = { input };

        const alertData: IAlertData = reactive({ message: "", type: AlertType.Info });

        const { result, loading, error, onResult, refetch } = useQuery(GET_KITCHEN_BY_ID,
            { id: id }, { fetchPolicy: "network-only" });


        const { mutate: updateKitchen, onDone, error: updateKitchenError } = useMutation(UPDATE_KITCHEN, {
            variables: {
                input
            }
        });

        const myKitchen = useResult(result, null, data => data.kitchenById);

        onResult(queryResults => {
            input.id = id;
            input.kitchenName = queryResults.data.kitchenById.kitchenName;
        });

        onDone(() => {
            router.push("/kitchens");
        });

        function updateMyKitchen() {
            if (input.kitchenName.trim() !== "") {
                updateKitchen(inputWrapper);
            } else {
                console.log("alertData enne: ", alertData);
                alertData.message = "Kitchen name is mandatory!";
                alertData.type = AlertType.Warning;
                console.log("alertData pärast: ", alertData);
            }
        }

        return {
            loading,
            error,
            updateMyKitchen,
            updateKitchenError,
            myKitchen,
            input,
            alertData
        };
    }
}
;
</script>

<style scoped>

</style>
