<template>
    <div>
        <h1>Kitchens</h1>
        <p>
            <router-link to="/kitchens/create" class="nav-link">Create New</router-link>
        </p>
        <table class="table">
            <thead>
            <tr>
                <th>Kitchen name</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr v-if="loading">
                <td>Loading...</td>
                <td></td>
            </tr>
            <tr v-else-if="error">
                <td>Error: {{ error.message }}</td>
                <td></td>
            </tr>
            <span v-else-if="kitchens">
                <tr v-for="kitchen in kitchens" :key="kitchen.id">
                    <td>{{ kitchen.kitchenName }}</td>
                    <td>
                        <router-link :to="{name: 'KitchenEdit',
                        params: {id: kitchen.id}}">Edit</router-link>
                        |
                        <router-link :to="{name: 'KitchenDetails',
                        params: {id: kitchen.id}}">Details</router-link>
                        |
                        <span @click="deleteDatKitchen(kitchen.id)">Delete</span>
                    </td>
                </tr>
            </span>
            </tbody>
        </table>
    </div>
</template>

<script lang="ts">
import { DELETE_KITCHEN, GET_KITCHENS } from "@/graphql/Kitchens";
import { useMutation, useQuery, useResult } from "@vue/apollo-composable";
import { onMounted } from "vue";

export default {
    name: "KitchensIndex",
    /*props: {
      kitchen: {
        type: Object,
        default() {
          return { query: "", limit: 10 };
        }
      }
    },

     */
    setup() {
        const { result, loading, error, refetch } = useQuery(GET_KITCHENS);
        const kitchens = useResult(result);

        const { mutate: deleteKitchen, onDone, error: deleteKitchenError } = useMutation(
            DELETE_KITCHEN);

        function deleteDatKitchen(id: string) {
            deleteKitchen({ id });
        }

        onDone(() => {
            refetch();
        });

        onMounted(() => {
            // reloads the data when you navigate here via router.push
            refetch();
        });

        return {
            loading, error, deleteDatKitchen, deleteKitchenError, kitchens
        };
    }
};
</script>

<style scoped>

</style>
